{% load static %}

<!DOCTYPE html>
<html>  
<head>
    <title>{{title}}</title>
	<link type="text/css" href="{% static 'registration/css/style.css' %}" rel="stylesheet" />
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
	<link rel="shortcut icon" href="{% static 'registration/img/main.ico' %}" type="image/x-icon"/>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>

<div class="modal">

<h4>You don authorised in site. Please, log in</h4>

<form method="post">
    {% csrf_token %}

<div class="form-error">{{form.non_field_errors}}</div>

    {% for f in form %}
    <p><label class="form-label-login" for="{{ f.id_for_label }}">{{f.label}}: </label>{{ f }}</p>
    <div class ="form-error">{{ f.errors }}</div>
    {% endfor %}

    <button type = "submit"  class="button" >Log in</button>

</form>
<div class="clear"></div>
<br>
<h4>If you didnt registrated, please go to registrate</h4>

    <a href="{% url 'register' %}" class="button">Register</a>

</div>
</body>
</html>