{% extends "carsdb/base.html" %}
{% load cars_tag %}

{% block content %}

<h2>Table of accesories for cars</h2>

<table class="table" cellpadding="1" cellspacing="1">
    <thead>
    <tr>
        <th width="20">№ </th>
        <th width="50">Name</th>
        <th width="40">Part</th>
        <th width="40">Price * Count</th>
    </tr>
</thead>
<tbody>
    {% for p in acess %}
    <tr>
        <td>{{ forloop.counter }}</td>
        <td>{{ p.name }}</td>
        <td>{{ p.part }}</td>
        <td>{% price_count p.part_id %}</td>
    </tr>
    {% endfor %}
</tbody>
</table>

{% endblock content %}
