{% extends "carsdb/base.html" %}

{% block content %}

<form method="POST" >
    {% csrf_token %}
    <label class="form-label">Name</label>{{ form.name }} <br>
    <label class="form-label">Margin</label>{{ form.margin }} <br>

    <label class="form-label"><br>Parts for one car</label><br>
    {% for f in form.parts %}
    <br>
    <label class="custom-checkbox" name="checks[]">{{f.label}}: </label>{{ f }}<br>
    {% endfor %}
<button class="c-button" type="submit" >Submit</button>
</form>

{% endblock content %}