{% load static %}

<!DOCTYPE html>
<html>  
<head>
    <title>Table of parts and cars</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <link type="text/css" rel="stylesheet" href="{% static 'carsdb/css/style.css' %}">
    <meta name="viewport" content="width=device-width, initial-scale=1.0"> 
</head>
<body>

{% block mainmenu %}

<table class="table-content" border=0 cellpadding="0" cellspacing="0">
    <tr>
    <!-- Sidebar слева -->
        <td valign="top" class="left-chapters">
        <ul id="leftchapters">
        <li><a href="{% url 'parts' %}">Table of parts</a></li>
        <li><a href="{% url 'add_parts' %}">Add part</a></li>
        <li><a href="{% url 'cars' %}">Table of cars</a></li>
        <li><a href="{% url 'add_cars' %}">Add car</a></li>
        <li><a href="{% url 'acessor' %}">Table of accessories</a></li>        
        </ul>
    </td>
    <!-- Конец Sidebar'а -->
    <td valign="top" class="content">

{% endblock mainmenu %}

{% block content %}
{% endblock %}

</td></tr></table>

</body>
</html>