{% extends "carsdb/base.html" %}

{% block content %}

<h2>Table of cars</h2>

<table class="simple-little-table" cellpadding="1" cellspacing="1">
    <thead>
    <tr>
        <th width="30">№ </th>
        <th width="80">Name</th>
        <th width="50">Margin</th>
        <th width="50">Price</th>
    </tr>
</thead>
<tbody>
    {% for p in carsm %}
    <tr>
        <td>{{ forloop.counter }}</td>
        <td>{{ p.name }}</td>
        <td>{{ p.margin }}</td>
        <td>{{ p.price }}</td>
    </tr>
    {% endfor %}
</tbody>
</table>

{% endblock content %}